div{
    border-width: 1px;
}

.izq{
    display: inline-block;
    margin-left: 20%;
    width: 38%;
}

.der{
    display: inline-block;
    position: fixed;
    margin-right: 20%;
    margin-left: 3%;
    margin-top: 3%;
    width: 18.5%;
}

h1{
    font-size: 50px;
    text-align: justify;
}

h2{
    margin-top: -3%;
    text-align: justify;
    font-size: 20px;
    color: gray;
}

.primeroi{
    color: darkgray;
    display: inline-block;
}

.primerod{
    display: inline-block;
    margin-top: 15px;
    float: right;
}

.negrita{
    color: black;
}

.imagen{
    display: inline-block;
    width: 25px;
    padding: 15px;
}

.imgPortada{
    width: 100%;
}

.imgDesc{
    padding-left: 5%;
    font-size: 15px;
    color: gray;
}

.cuerpo{
    font-size: 18px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.publi{
    border: 3px solid;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
}

.imgPubli{
    width: 100%;
}

.textoPubli{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textoPublicuerpo{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    width: 65%;
    
}

.imgPubli2{
    margin-top: 5%;
}

.tags a{
    text-decoration: none;
    color: dodgerblue;
    padding: 5px;
    border: 1px solid;
    transition: background-color 1s ease-out;
}

.tags a:hover{
    background-color: dodgerblue;
    color: white;
}